.area {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
    margin: 5px;
    cursor: pointer;
}

.estrutura {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    width: 90%;
    border-top: 5px solid brown;
    border-left: 5px solid brown;
    border-right: 5px solid brown;
    background-color: #0005;
}

.porta{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    flex-grow: 1;
    background-color: chocolate;

}
.macaneta{
    position: absolute;
    align-self: flex-start;
    top: calc(0.45 * var(--area-porta-altura));
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: brown;
}
.numero {
    font-size: 3rem;
}
.chao{
    height: 10px;
    width: 100%;
    background-color: #ddd;
}

.selecionada {
    border-top: 5px solid yellow;
    border-left: 5px solid yellow;
    border-right: 5px solid yellow;
}
.selecionada .numero {
    color: yellow;
}
.selecionada .macaneta {
    background-color: yellow;
}